/* Code: <link rel="stylesheet" href="//static.tumblr.com/w2cxjnh/BqArnhl2t/loai-bo-thanh-dieu-khien-tumblr.css">
** Thu thuat blog Tumblr: https://tumblr.com/thuthuatblog
** Chia se boi Lam Thai Son: https://sonlt.page/tumblr
*/ .tmblr-iframe, .tmblr-iframe.hide, .tmblr-iframe--amp-cta-button, .tmblr-iframe--amp-cta-button.tmblr-iframe--loaded {display: none !important;}

/* Danh cho giao dien Optica (Tumblr Official) */
   .nav-wrapper.nav-fixed {position:fixed;top: 0px !important;left: 0 !important;right: 0 !important;}
